@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --gray: #eee;
    --dark-gray: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    background: linear-gradient(90deg, rgba(224,140,61,1) 0%, rgba(236,168,105,1) 48%, rgba(224,140,61,1) 100%);
    font-family: 'Open Sans', 'sans-serif';
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.generator-div {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 70vmax;
    padding: ;
    color: #4E1A3D;
    text-align: center;
    border-radius: 10px;
}

.generator-div * {
    margin-bottom: 2rem;
}

.count {
    font-size: 4rem;
}

.button button {
    padding: 2rem 1rem 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #B08BBB;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.button button:hover {
    transform: scale(1.1);
    background-color: #B5D5C5;
}